
.page-presentation,.page-form{
    height: 50%;
    min-height: 50%;
    text-align: center;
    display: block;
    position: relative;
    .content{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
}

.page-presentation{
    background: $secondary-color;
    color:$font-color;
}

.login-form{
    max-width: 300px;
    margin: 10px auto;
     button{
         max-width: 90px;
         margin: 0 auto;
         background-color: $primary-color; 
     }
}