
.page-container{

	
    .login-container{
        margin-top: 60px;
        background: white;
        .page-presentation{
            .content{
                h1{
                    font-size: 18px;
                    padding: 10px;
                    margin-top: 10px;
                    text-align: center;
                    color: $main-color;
                    text-transform: uppercase;
                }
                padding: 0 40px;
                max-width: 500px;
                margin: 0 auto;

                .bottom{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align: left;
                    padding: 0 20px; 
                    color:$main-color;                              
                }
            }
            @include sm{
                display: none;
            }
        }
        .page-form{
            height: 100%;
            min-height: 100%;
            text-align: center;
            background: white;
            display: inline-block;
            width:100%;
            position: relative;
            @include border-top-radius(10px);
            @include border-right-radius(10px);
            @include border-bottom-radius(10px);
            @include border-left-radius (0);

            .content{
                @include center(90%, 50%);
            }
            .login-form{
                max-width: 500px;
                margin: 10px auto;
                background: white;
                 
            }
            @include sm{
                width: 100%;
                border-radius: 10px;
            }
        }

    }


    
}




