
.page-container{
    @include center(100%, 100%);
    &:after{
        content: "";
        background: #4A90E2;
        @include center(100%, 100%);
    }
	
    .login-container{
        @include center(70%, 65%);
        @include box_shadow(3);
        @include border-top-radius(10px);
        @include border-right-radius(10px);
        @include border-bottom-radius(10px);
        @include border-left-radius (10px);
        z-index: 2;
        background: white;
        .page-presentation{
            height: 100%;
            min-height: 100%;
            text-align: center;
            float: left;
            width: 50%;
            position: relative;
            color:$font-color;
            @include border-top-radius(10px);
            @include border-left-radius (10px);
            
            @include border-bottom-radius(10px);
            @include border-right-radius(0);
            

            .content{
                h1{
                    font-size: 18px;
                    padding: 10px 50px;
                    text-align: center;
                    color: $main-color;
                    text-transform: uppercase;
                }
                @include center(100%, 100%);
                background: white url(../../assets/imgs/53.gif) no-repeat;
                background-size: 290px;
                background-position-x: 50%;
                background-position-y: 50%;
                @include border-top-radius(10px);
                @include border-right-radius(0);
                @include border-bottom-radius(10px);
                @include border-left-radius (10px);
                border-bottom-right-radius: 0px;

                .bottom{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    text-align: left;
                    padding: 0 20px; 
                    color:$main-color;                              
                }
            }
            @include sm{
                display: none;
            }
        }
        .page-form{
            height: 100%;
            min-height: 100%;
            text-align: center;
            background: white;
            display: inline-block;
            width:50%;
            position: relative;
            @include border-top-radius(10px);
            @include border-right-radius(10px);
            @include border-bottom-radius(10px);
            @include border-left-radius (0);

            .content{
                @include center(90%, 50%);
            }
            .login-form{
                max-width: 230px;
                margin: 10px auto;
                background: white;
                 
            }
            @include sm{
                width: 100%;
                border-radius: 10px;
            }
        }

    }


    
}




