ion-tabs {
    .tabbar {
        background: white;
        height: 40px;
    }

    #tab-t1-4,#tab-t1-0{
        display:none;
    }

    #tab-t1-2{
        border-radius: 80px;
        background:$main-color;
        color: white;
        width: 30px;
        margin-bottom: 6px;
        border: 2px solid white;
        /* border-bottom-left-radius: 0; */
        /* border-bottom-right-radius: 0; */
        max-width: 70px;
        height: 70px;

        ion-icon{
            color: white;
            font-size: 3.4rem;
            margin-top: -5px;
        }
    }

}

.tabs-md .tab-button-icon{
    color: white;
}

.tabs-md .tabbar {
    background: $font-color;
}
