  <ion-content>
    <div #pleaseConnect id="please-connect">
      <p>Please connect to the Internet...</p>
    </div>
    <google-places-autocomplete (callback)="getAddress($event[0])" key="AIzaSyDqA3ASlf5Mshe6bUVlPKiPdIhGQ7meBBk"></google-places-autocomplete>
    <div class="input-cont">
      
      <ion-datetime displayFormat="DD/MM"  [(ngModel)]="bookedPark.date"></ion-datetime>
        <div class="ore">
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="bookedPark.hoursFrom"></ion-datetime>
        <i class="flaticon-double-arrow-1"></i>
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="bookedPark.hoursTo"></ion-datetime>
      </div>
    </div>

    <div #map id="map"></div>


    <div class="park-tails up" *ngIf="parks?.length > 0">
          <span class="show up flaticon-left-arrow"></span>
          
          <div class="park-tail" *ngFor="let park of parks" id="{{park._id}}">
            <p class="title" *ngIf="park.name">{{park.name}}</p><i *ngIf="park.name" class="flaticon-fire"></i>
            <p class="title" *ngIf="!park.name">{{park.address}}</p><i *ngIf="!park.name" class="flaticon-fire"></i>
            <p *ngIf="park.name" class="subtitle">{{park.address}}</p>
            <p class="item descr">{{park.description}}</p>
            <p class="item"><span class="tit">Dimensioni: </span>{{park.height}}m X {{park.width}}m X {{park.length}}m </p>
            <p class="price" *ngIf="park.hourly_price">{{park.hourly_price}}€/h</p>
            <div class="bxslider">
              <div><img src="../../assets/imgs/logo.png" title="Funky roots"></div>
              <div><img src="../../assets/imgs/logo.png" title="The long and winding road"></div>
              <div><img src="../../assets/imgs/logo.png" title="Happy trees"></div>
            </div>
            <p class="title-book">Book a park</p>
            <div class="booking-form">
              <div class="date">
                  <i class="flaticon-calendar"></i><ion-datetime displayFormat="DD/MM"  [(ngModel)]="bookedPark.date"></ion-datetime>
                  <div class="ore">
                      <i class="flaticon-clock"></i>
                    <ion-datetime displayFormat="HH:mm" [(ngModel)]="bookedPark.hoursFrom"></ion-datetime>
                    <i class="flaticon-double-arrow-1"></i>
                    <ion-datetime displayFormat="HH:mm" [(ngModel)]="bookedPark.hoursTo"></ion-datetime>
                </div>
              </div>
                <ion-item>
                    <ion-label>Targa</ion-label>
                    <ion-input  name="targa" placeholder="XX12345"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label>Car description</ion-label>
                      <ion-input  name="car" ></ion-input>
                    </ion-item>
                  <button class="back" type="submit" block>Back</button>
                  <button class="book" type="submit" block>Prenota</button>
                </div>
          </div>
        
    </div>
    
   
  </ion-content>