
    
     #please-connect {
       position: absolute;
       background-color: #000;
       opacity: 0.5;
       width: 100%;
       height: 100%;
       z-index: 1;
     }
    
     #please-connect p {
         color: #fff;
         font-weight: bold;
         text-align: center;
         position: relative;
         font-size: 1.6em;
         top: 30%;
     }
     .searchbar{
        background: inherit;
        padding: 0;
        width: 50%;
        margin: 0 auto;
        position: absolute;
        top: 85px;
        left: 50%;
        transform: translate(-50% , 0);
        /* padding-top: 90px; */
        border-radius: 10px;
        
    }
    .searchbar-input{
        border-radius: 90px !important;
    }
    
     .scroll {
         height: 100%;
     }

     .list {
        margin: 38px 0 16px;
    }
    
     #map {
         width: 100%;
         height: 100%;
     }
    google-places-autocomplete{
        position: absolute;
        top:10px;
        top: -30px;
        border-radius: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding-top: 50px;
        padding: 20px;
        -webkit-box-shadow: 3px 2px 57px 3px rgba(46,46,46,0.36);
        -moz-box-shadow: 3px 2px 57px 3px rgba(46,46,46,0.36);
        box-shadow: 3px 2px 57px 3px rgba(46,46,46,0.36);
        background:$primary-color;
        width: 120%;
        padding-top: 100px;
        
        z-index: 10;
        left: 50%;
        transform: translate(-50%, 0);
        ion-list{
            
            ion-item{
                padding: 0 10px !important;
                &:last-child{
                    display: none;
                }
            }

        }

        + i{
            position: absolute;
            top: 102px;
            z-index: 99999;
            /* left: 45%; */
            color: white;
            right: calc(50% + -20px);
            transform: rotate(-90deg);
            &.close{
                top:initial;
                bottom:10px;
                transform: rotate(-270deg);
            }
        }
    }

    .input-cont{
        position: absolute;
        display: none;
        @include sm{
            top: 112px;
        }
        top:60px;
        z-index: 99;
        left: 50%;
        width: 360px;
        transform: translate(-50% , 0);
        padding: 20px;
        padding: 6px 0;
        border: 1px solid white;
        border-radius: 2px;
        border-top-left-radius: 0;
        background-position: left 8px center;
        height: auto;
        border-radius: 90px;
        font-size: 1.2rem;
        font-weight: 400;
        /* width: 150px; */
        line-height: 0rem;
        color: #141414;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        ion-datetime{
            width: 22%;
            display: inline-block;
            padding: 0;
            text-align: center;
            position: relative;
        }
        > ion-datetime{
            width: 50%;
            height: 50px;
            /* line-height: 50px; */
            width: 50px;
            color: white;
            padding: 0;
            padding-top: 17px;
            border-radius: 30px;
            background: $main-color;
            border: 2px solid $main-color;
        }
        .ore{
            display: inline-block;
            width: 220px;
            line-height: 40px;
            vertical-align: bottom;
            margin-left: 30px;
            font-size: 17px;
        }
        p{
            width: 30px;
            display: inline-block;
        }
    }

    .bx-wrapper {
        -moz-box-shadow: initial ;
        -webkit-box-shadow: initial ;
        box-shadow: initial;
        border:0;
        background:transparent;
        display: flex;
    }

    .bx-viewport{
        height: 120px!important;
    }
    .bx-viewport.booking{
        height: 510px!important;

    }

    .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
        text-align: left;
        width: auto;
        left: 50%;
        transform: translate(-50% , 0);
    }

    .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: $main-color;
    }

    .gm-style button{
        display: none;
    }

    .gmnoprint{
        display: none;
    }

    .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
        background: white;
    }

    .bx-wrapper .bx-pager.bx-default-pager a {
        border: 1px solid white;
        background: transparent;
    }

    .park-tails{
        position: absolute;
        z-index: 9;
        bottom:0;
        width: 880px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        left: 50%;
        max-width: 880px;
        overflow: scroll;
        transform: translate(-50% , 0);
        transition-property: all;
        transition-duration: .9s;

        @include sm{
            width: 100%;
            max-width: 100%;
        }

        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        .subtitle{
            display: none;
        }
        &.down{
            bottom: -62px;
            transition-property: all;
            transition-duration: .9s;
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        }
        .show{
            position: absolute;
            left: calc(50% - 20px);
            align-self: stretch;
            cursor: pointer;
            margin-top: -20px;
            -webkit-transform: rotate(270deg);
                -moz-transform: rotate(270deg);
                -o-transform: rotate(270deg);
                -ms-transform: rotate(270deg);
                transform: rotate(270deg);
            &.up{
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
                
            }
        }
        .park-tail{
            background:$main-color;
            color:white;
            padding: 10px;
            margin: 20px 5px;
            align-self: flex-end;
            position: relative;
            height: 100px;
            min-width: 200px!important;
            border-radius: 5px;
            display: inline-block;
            -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

            .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
                position: absolute;
                top: 110px;
                width: 100%;
                left: 50%;
                transform: translate(-50% , 0);
            }

            .bxslider,.bx-wrapper{
                display:none;
            }

            .subtitle{
                font-style: italic;
                margin:0;
            }
            .title{
                font-size: 13px;
                font-weight: bold;
                position: relative;
                margin-top: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 80%;

                + i{
                    position: absolute;
                    top: 120px;
                    right: 0px;
                }
            }
            .item{
                display: none;
                padding-bottom: 5px;
                margin: 0;
                .tit{
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
            

            &.active{
                height: 260px;
                
                .item{
                    display: block;
                    &.descr{
                        display: none;
                    }
                }

                
            }
            .booking-form{
                display: none;
            }

            .title-book{
                display: none;
            }

            &.booking{
                z-index: 99;
                min-width: 500px!important;
                min-height: 490px;
                border-radius: 0;
                margin: 0!important;
                padding-top: 100px;
                .price{
                    bottom: 50px;
                }

                .bxslider{
                    display:block;
                }

                @include sm{
                    width: 100%;
                    max-width: 100%;
                    z-index: 9999;
                    min-width: 100%!important;
                    margin-bottom: 0;
                }
                .item{
                    display: block;
                    &.descr{
                        display: block;
                        margin-top: 10px;
                        padding-top: 10px;
                        &:after{
                            content: '';
                            height: 1px;
                            width: 80px;
                            position: absolute;
                            top: 0px;
                            left: 0;
                            border-bottom: 3px solid white;
                        }
                    }
                }
                .subtitle{
                    display: block;
                }
                p.title-book{
                    display: block;
                    text-align: left;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .title{
                    white-space: initial;
                    overflow: initial;
                    font-size: 16px;
                    text-overflow: initial;
                    padding: 3px 0;
                    margin-bottom: 0;
                   
                }

                .bx-wrapper{
                    display: block;
                    margin-bottom: 35px;
                        height: 130px;
                }

                .booking-form{
                    display: block;
                    background: white;
                    padding: 14px;
                    border-radius: 5px;
                    -webkit-box-shadow: 3px 2px 57px 3px rgba(46,46,46,0.36);
                    -moz-box-shadow: 3px 2px 57px 3px rgba(46,46,46,0.36);
                    box-shadow: 3px 2px 57px 3px rgba(46,46,46,0.36);
                    .date{
                        *{
                            display: inline-block;
                            color: $font-color;
                            vertical-align: -webkit-baseline-middle;
                        }
                        .ore{
                            float: right;
                        }
                        .datetime{
                            padding: 5px;
                            position: relative;
                        }
                    }
                    input{
                        text-align: center;
                        font-size: 18px;
                    }
                    .datetime-text{
                        font-size: 18px;
                    }
                    .hours{
                        display: inline-block;
                        width: 49.5%;
                    }
                }
            }
            .price{
                float: right;
                font-size: 20px;
                font-weight: bold;
                padding: 0;
                color: white;
                margin: 0;
            }

            .datetime{
                position: relative;
            }
            button.book{
                position: absolute;
                bottom: 10px;
                right: 10px;
                padding: 7px 10px;
                border-radius: 36px;
                font-size: 20px;
                height: 50px;
                width: 50px;
                text-align: center;
                transform: rotate(180deg);
                font-weight: bold;
                text-transform: uppercase;
                background: $primary-color;
                color: white;
                i:before{
                    font-weight: 700;
                    padding: 0;
                }
            }
            button.pay{
                position: absolute;
                bottom: 10px;
                right: 10px;
                padding: 7px 10px;
                border-radius: 36px;
                font-size: 20px;
                height: 50px;
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
                background: $primary-color;
                color: white;
                i:before{
                    font-weight: 700;
                    padding: 0;
                }
            }
            button.back{
                position: absolute;
                bottom: 10px;
                left: 10px;
                border-radius: 36px;
                height: 40px;
                text-transform: uppercase;
                background: $main-color;
                border: 1px solid white;
                color: white;
                i:before{
                    padding: 0;
                    font-size: 15px;
                }
            }
        }
    }

