<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p *ngIf="!isLoggedIn()">Please Log In to use the app</p>
  <p *ngIf="isLoggedIn()">Welcome X Y</p>
  <button ion-button round navPush="RegisterComponent">Sign Up</button>
  <button ion-button round navPush="LoginComponent" *ngIf="!isLoggedIn()">Sign In</button>
  <button ion-button round *ngIf="isLoggedIn()" (click)="onLogout()">Logout</button>
  <button ion-button round navPush="LoginComponent">Register your box</button>
  <button ion-button round navPush="MapsComponent">Maps</button>
  <button ion-button round navPush="ExplorePage">Explore</button>
  
  
</ion-content>
