.list-park{
    .left-content{
        width: 100%;
        display: block;
        margin-top: 50px;
        padding: 10px;
        background: #4A90E2;
        height: 40%;
        button{
            width: auto;
            max-width: initial;
            background: white;
            color: $main-color;
            margin: 20px auto;
        }
        > p{
            text-transform: uppercase;
            color: white;
            text-align: center;
            font-weight: bold;
        }
        .park-container{
            height: 210px;
            width: 100%;
            overflow-x: scroll;
            white-space: nowrap;
            overflow-y: hidden;
            overflow: auto;
        }
        .park{
            background: white;
            vertical-align: top;
            padding: 10px;
            position: relative;
            display: inline-block;
            border-radius: 10px;
            max-width: 270px;
            margin-bottom: 10px;
            padding-right: 30px;
            max-width: 250px;
            overflow: hidden;
            margin-right: 10px;
            -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            .title{
                overflow: initial;
                font-size: 16px;
                text-overflow: initial;
                padding: 3px 0;
                margin-bottom: 0;
                font-size: 13px;
                margin: 0;
                font-weight: bold;
                color: $main-color;
            }
           .subtitle {
                font-style: italic;
                margin: 0;
            }
            
            .show{
                position: absolute;
                color: #4A90E2;
                right: 0px;
                font-weight: bold;
                top: calc(50% - 10px);
                cursor: pointer;
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        
    }

    .edit-park{
        width: 100%;
        max-width: 500px;
        vertical-align: top;
        margin: 60px auto;
        >p{
            text-align: center;
            text-transform: uppercase;
            color: $main-color;
            font-weight: bold;
        }
        p{
            text-align: center;
        }
    }

}