.list-park{
    .left-content{
        width: 100%;
        display: block;
        
        padding: 10px;
        padding-top: 50px;
        background: #4A90E2;
        height: 60%;
        button{
            width: auto;
            max-width: initial;
            background: white;
            color: $main-color;
            margin: 20px auto;
        }
        .park-img{
            width: calc(100% + 80px);
            /* height: 100%; */
            margin-top: -260px;
            margin-left: -10px;
            position: absolute;
        }
        > p{
            text-transform: uppercase;
            color: white;
            text-align: center;
            font-weight: bold;
        }
        .park-container{
            width: 100%;
            overflow-x: scroll;
            white-space: nowrap;
            overflow-y: hidden;
            overflow: auto;
        }
        .park{
            background: white;
            vertical-align: top;
            padding: 10px;
            position: relative;
            display: inline-block;
            border-radius: 10px;
            max-width: 270px;
            margin-bottom: 10px;
            padding-top: 180px;
            max-width: 250px;
            .price{
                top: -52px;
                position: absolute;
                height: 60px;
                width: 90px;
                z-index: 9999;
                text-align: center;
                /* padding-right: 10px; */
                line-height: 95px;
                border-radius: 23px;
                background: palevioletred;
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
                color: white;
                font-weight: 700;
                font-size: 16px;
                left: 50%;
                -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
            }

            p{
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            overflow: hidden;
            margin-right: 10px;
            -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            .title{
                overflow: initial;
                font-size: 16px;
                text-overflow: initial;
                padding: 3px 0;
                margin-bottom: 0;
                font-size: 13px;
                margin: 0;
                font-weight: bold;
                color: $main-color;
            }
           .subtitle {
                font-style: italic;
                margin: 0;
            }
            
            .show{
                position: absolute;
                color: #4A90E2;
                right: 0px;
                font-weight: bold;
                top: calc(50% - 10px);
                cursor: pointer;
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }

        .addPark{
            width: 60px;
            height: 60px;
            position: absolute;
            top: 60%;
            right: 10px;
            margin: 0;
            transform: translate(0 , -50%);
            background: palevioletred;
            color: white;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        }
        
    }

    .edit-park{
        width: 100%;
        max-width: 500px;
        vertical-align: top;
        margin: 60px auto;
        posi
        
        
        >p{
            text-align: center;
            text-transform: uppercase;
            color: $main-color;
            font-weight: bold;
        }
        p{
            text-align: center;
        }
    }

    .park{
        .price{

        margin-right: 0px;
        }
    }

}
