

<ion-content class="page-container list-park"  (ionScroll)="scrollingFun($event)">
        <div class="background"></div>

        <div class="left-content">
            <p>I tuoi parcheggi</p>
            <div class="park-container">
                <div class="park" *ngFor="let park of parkings" >
                    <img src="../../assets/imgs/logo.png" class="park-img">
                    <p class="title">{{park.name}}</p>
                    <p class="subtitle">{{park.address}}</p>
                    <p class="item descr">{{park.description}}</p>
                    <p class="item"><span class="tit">box_type: </span>{{park.box_type}} || <span class="tit">width: </span>{{park.box_type}} || <span class="tit">daily_price: </span>{{park.daily_price}}€/d</p>
                    <p class="price">{{park.hourly_price}}€/h</p>
                    <span class="show right flaticon-pencil" id="{{park._id}}" (click)="editPark($event)"></span>
                </div>
            </div>
            <button class="addPark" ion-fab color="danger" (click)="goToNewParking()"><ion-icon name="add"></ion-icon></button>

        </div>
        <div class="edit-park" *ngIf="editedPark">
                <p>Modifica il tuo parcheggio</p>
                <div class="park">
                        <p class="title">{{editedPark.name}}</p>
                        <p class="title">{{editedPark.address}}</p>
                        <p class="item descr">{{editedPark.description}}</p>
                        <p class="item"><span class="tit">box_type: </span>{{editedPark.box_type}} || <span class="tit">width: </span>{{editedPark.box_type}} || <span class="tit">daily_price: </span>{{editedPark.daily_price}}€/d</p>
                        <p class="price">{{editedPark.hourly_price}}€/h</p>
                    </div>
                </div>
                <div class="editParkDate">
                <ion-segment [(ngModel)]="searchDate" color="dark">
                    <ion-segment-button value="day">
                        day
                    </ion-segment-button>
                    <ion-segment-button value="month">
                        month
                    </ion-segment-button>
                </ion-segment>
                
                
                <div *ngIf="searchDate == 'day'">
                        <ion-calendar [(ngModel)]="date" 
                        (onChange)="changeDay($event)"
                        [type]="type"
                        [format]="'YYYY-MM-DD'">
                    </ion-calendar>
                    <p>Search hours</p>
                    
                    <div class="ore">
                        <ion-datetime displayFormat="HH:mm" [(ngModel)]="bookedPark.hoursFrom"></ion-datetime>
                        <i class="flaticon-double-arrow-1"></i>
                        <ion-datetime displayFormat="HH:mm" [(ngModel)]="bookedPark.hoursTo"></ion-datetime>
                    </div>
                </div>
                <div *ngIf="searchDate == 'month'">
                    <ion-calendar [(ngModel)]="dateRange" 
                    [options]="optionsRange"
                    (onChange)="changeRange($event)"
                    [type]="type"
                    [format]="'YYYY-MM-DD'">
                </ion-calendar>
                <p>Edit hours</p>
                <div class="ore">
                    <ion-datetime displayFormat="HH:mm" [(ngModel)]="bookedPark.hoursFrom"></ion-datetime>
                    <i class="flaticon-double-arrow-1"></i>
                    <ion-datetime displayFormat="HH:mm" [(ngModel)]="bookedPark.hoursTo"></ion-datetime>
                </div>
            </div>
            <button class="update" (click)="updateAvailability()">UPDATE</button> 

        </div>
</ion-content>
