button.grey{
  background: $font-color;
}

.toolbar-background-md, .toolbar-background-ios{
  background: transparent;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
  background: none;
}

img.logo{
  margin-top:10px;
}

.boss{
  background: $primary-color;
  border: 1px solid white;
  & + .list{
    padding-top: 20px;
  }
}