.user-area{
    .top{
        height: 25%;
        padding-top: 50px;
        background: $primary-color;
        p{
            color: white;
            position: absolute;
            top: 50px;
            left: 50%;
            font-size: 23px;
            transform: translate(-50%, 0);
            text-align: center;
        }
        button{
            border-radius: 50px;
            height: 40px;
            max-width: 130px;
            color: white;
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
            left: 10px;
            top: 22%;
            width: 130px;
            position: absolute;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
            &.right{
                left: initial;
                right: 10px;
            }
        }
        img{
            width: 200px;
            height: 200px;
            left: 50%;
            top:60px;
            display: block;
            margin: 0 auto;
            border-radius: 100px;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        }
    }
    .bottom {
        margin-top:80px;
        overflow: scroll;
        &.edit{
            margin-top:10px;
        }

        .edit-form{
            p{
                font-weight: 700;
                color: $main-color;
            }
        }
        p{
            text-align: center;
            color: $font-color;
            &.name{
                font-weight: 700;
                font-size: 20px;
                text-transform: capitalize;
                margin-bottom: 0;
            }
            &.email{
                font-weight: 100;
                font-size: 15px;
                margin-top: 0;
            }
        }
        button{
            border-radius: 50px;
            height: 40px;
            max-width: initial;
            width: calc(100% - 40px);
            margin: 5px 20px;
            color:$font-color;
            font-size: 11px;
            font-weight: 700;
            text-transform: uppercase;
            &.edit-form-button{
            right: 0px;
            font-weight: bold;
            background: $main-color;
            height: 40px;
            width: 40px;
            line-height: 40px;
            border-radius: 20px;
            cursor: pointer;
            }
            &.edit-form-button{
            width: 40px;
            height: 40px;
            border-radius: 20px;
            left: 50%;
            top: 25%;
            position: absolute;
            i:before{
                color:white;
                font-weight: 100;
                padding: 0;
                text-align: center;
                padding: 0px;
                margin-top: 0;
            }
        }
    }
    }
    ion-list{
        position: absolute;
        bottom: 60px;
        width: 100%;
    }

    .edit-form{
        padding: 0 50px;
        display: none;
    }
    
}