// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//declaring variables
$font-family:'Montserrat', sans-serif;
$primary-color: #E0CA3C;
$font-color: #2D3047;
$secondary-color:#cdfffc;
$third-color:#A799B7;



*{
    font-family: $font-family;    
}

body, html , .page-container{
    height: 100%;
}
