.page-container{
    overflow: scroll;
    background: white;
}
.register-park{

    margin: 70px auto;
    max-width: 600px!important;
    width: 80%!important;
    text-align: center;

    h1{
        font-size: 15px;
        color:$main-color;
    }

    button {
        border-radius: 50px;
    height: 40px;
    max-width: initial;
    width: calc(100% - 40px);
    margin: 5px 20px;
    color: white;
    background: #2D3047;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    }
    form{
        padding-left: 20px;
        margin-right: -20px;
    }

    .step1, .step2, .step3{
        background: white;
        position: relative;
        color: $font-color;
        padding:10px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 40px;
        border-radius:10px;
        .label-md[floating]{
            color:$font-color;
        }
        p{
            font-weight: bold;
        text-transform: uppercase;
        font-size: 11px;
        position: absolute;
    margin-top: -35px;
    color:$font-color;
    line-height: 15px;
        }
        .dimensioni{
            .item-md{
                width:29%;
                display: inline-block;
            }
        }
        .item-md{
            background: white;
            color:$font-color;
        }

        google-places-autocomplete{
            position: static;
        .searchbar-input-container{
                .searchbar-search-icon{display: none}
                .searchbar-input{    
                    border: none;
                    background: none;
                    padding: 0;
                    border-radius: 0!important;
                    box-shadow: none;
                    border-bottom: 1px solid #dedede;
                    margin-top: 30px;
                    color:white;
                }
        }
        .list {
            position: absolute;
            width: 230px;
            z-index: 99;
        }
            ion-list{
                
                ion-item{
                    padding: 0 10px !important;
                    &:last-child{
                        display: none;
                    }
                }

            }
            
        }
        
    }

    .step1 > p.number , .step2 > p.number, .step3 > p.number{
        position: absolute;
        color:$font-color;
        font-size: 43px;
        display: block;
        font-weight: bold;
        left: -40px;
        margin-top: 0;
    }

}