.step1, .step2, .step3{
    background: $main-color;
    color:white;
    border: 1px solid $main-color;
    padding:10px;
    margin-bottom: 15px;
    border-radius:10px;
    .label-md[floating]{
        color:white;
    }
    p{
        font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 30px;
    margin-bottom: -10px;
    }
    .dimensioni{
        .item-md{
            width:29%;
            display: inline-block;
        }
    }
    .item-md{
        background: $main-color;
        color:white;
    }
}

.step1:before{
    content: '1';
    position: absolute;
    color: #4A90E2;
    font-size: 43px;
    display: block;
    font-weight: bold;
    margin-left: -50px;
}

.step2:before{
    content: '2';
    position: absolute;
    color: #4A90E2;
    font-size: 43px;
    display: block;
    font-weight: bold;
    margin-left: -50px;
}

.step3:before{
    content: '3';
    position: absolute;
    color: #4A90E2;
    font-size: 43px;
    display: block;
    font-weight: bold;
    margin-left: -50px;
}
