<h2>Questa è la mia app di prova</h2>

<!--il nome della proprietà è message a cui voglio passare qualcosa ovvero l'oggetto Message
se avessi usato (click) avrei fatto il listen di tutti gli eventi, facendo invece editCliked ascolto solo il mio evento che ho esposto tramite @Output altrimenti non l'avrei visto

Al click il mio message.content verrà cambiato con $event è il modo di prendere quello che viene emesso dall'altra parte
-->
<div class="col-md-8 col-md-offset-2">
   <app-message-input></app-message-input>
   <hr>
   <!-- structure directive *ngFor: looppo sulla variabile dall'altra parte messages che è un array, la chiamo message internamente e questo message viene passato a [message] del componente app-message -->
   <app-message-list></app-message-list>

</div>
