input{
    border-radius: 20px;
    background:#f7f7f7;
    margin: 20px auto;
    width: 250px;
    display: block;
    border: 1px solid grey;
    padding: 8px;
    outline: none;
}

.container{
    border: 1px solid grey;
    margin: 0 auto;
    display: block;
    width: 450px;
    border-radius: 5px;
    padding: 0px;
}

.message {
    color:black;
    padding: 20px;
    display: block;
    text-align: center;
}

.author{
    font-weight: bold;
    float:left;
    vertical-align: middle;
    line-height: 40px;
}

.footer{
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid black;
    padding: 5px;
    background-color: aliceblue;
}

.footer a{
    background-color: lightslategrey;
    color: black;
    border-radius: 5px;
    min-width: 50px;
    padding: 5px;
    color: white;
    text-align: center;
    float: right;
    margin: 5px;
}

.footer a:first-child{
    float:left;
}

.footer a:last-child{
    float:right;
}
