<input type="text" class="text" placeholder="insert some text">

<!-- directives, se avessi voluto usare come in css avrei dovuto scrivere 'bachground-color'

all'enter sull'elemento cambio il valore della variabile color
-->
<div class="container" [ngStyle]="{backgroundColor: color}" (mouseenter)="color = 'green'">
    <div class="message">
        {{message.content}}
    </div>

    <div class="footer clearfix">
       <div class="author">
            {{message.username}}
        </div>
        <!-- andiamo a chiamare il metodo definito nel component-->
        <a href="#" (click)="onEdit()">Edit</a>
        <a href="#" >Delete</a>
    </div>
</div>


